{
    "extends": ["react-app", "react-app/jest"],
    "rules": {
        "no-unused-vars": "warn",
        "quotes": ["warn", "single"],
        "prefer-const": "warn",
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "semi": ["warn", "always"],
        "import/order": [
            "warn",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ]
            }
        ],
        "eol-last": ["warn", "always"],
        "dot-location": ["warn", "property"],
        "default-case": "warn",
        "eqeqeq": ["warn", "always"],
        "no-empty-pattern": "warn",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "comma-spacing": ["warn", { "before": false, "after": true }],
        "no-multiple-empty-lines": ["warn", { "max": 1 }]
    }
}
